[Desktop Entry]
Type=Application
Name=ArcanumDev
Summary=Utilities for developers.
Icon=mx.com.digicodev.ArcanumDev
Exec=arcanumdev %U
Categories=Development
Keywords=Development
