[Desktop Entry]
Name=ArcanumDev
Version=1.0
Comment=Utilities for developers.
Exec=arcanumdev %u
Icon=icon
Terminal=false
Type=Application
Categories=Development
StartupWMClass=<wmclass>;
